/* CSS Reset & Flexbox Sticky footer */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	font-family: system-ui, -apple-system, sans-serif;
	background-color: #f8f9fa;
	color: #212529;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	padding: 2rem;
}

footer {
	padding: 1.5rem;
	background-color: #1e1e24;
	color: #fff;
	text-align: center;
}

footer a {
	color: @63b3ed;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}


header {
    background-color: #ffffff;
	border-bottom: 1px solid #e1e4e8;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.progress-wrapper {
	display: flex;
	gap: 53px;
	align-items: center;
}

.demo-sandbox {
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin: 30px 0;
}